* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    /*position: absolute;*/
    width: 100%;
    margin: 0;
    padding: 0 ;
}

.container_menu .menu_container .input {
    display: none;
}



.container_menu .menu_container {
    width: 100%;
    height: 120px;
}

.container_menu .menu_container .botton {
    width: 60px;
    height: 60px;
    margin: 25px;
    padding: 25px;
    background-color: #000;
    display: block;
    position: relative;
    display: none;
}

.container_menu .menu_container .botton .line1, .line2, .line3 {
    width: 50px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateX(-50% -50%);
    background: #fff;
    transition: all 1s ease;
}

.container_menu .menu_container .botton .line2 {
    top: 30%;
}

.container_menu .menu_container .botton .line3 {
    top: 70%;
}

#btn-menu:checked ~ .botton .line1 {
    display: none;
}

#btn-menu:checked ~ .botton .line2 {
    transform: rotate(225deg);
    top: 30px;
    left: 5px;
}


#btn-menu:checked ~ .botton .line3 {
    transform: rotate(-225deg);
    top: 30px;
    
}

.container_menu .menu_container .menu {
    width: 90%;
    line-height: 120px;
    position: absolute;
    top: 0;
    left: 5%;
}

.container_menu .menu_container ul li {
    padding-right: 25px;
}

.container_menu .menu_container ul {
    width: 100%;
    height: auto;
    list-style: none;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container_menu .menu_container ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}


#btn-menu:checked ~ .menu {
    transform: translateX(0)
}








/***** Filtro de Imagenes *****/

main .filtro_container .container_picture input {
    margin-top: 50px;
    margin-left: 5%;
    margin-bottom: 50px;
}


main .filtro_container .container_picture {
    width: 100%;
    height: auto;

}

main .filtro_container .container_picture h2 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main .filtro_container .container_picture #container {
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left:auto ;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

main .filtro_container .container_picture #container div {
    width: 250px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 1s ease;
}

main .filtro_container .container_picture #container div img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

#Todo:checked ~ #container .audi, .laptop, .movil .pc, .animate_animated {
    animation-duration: 5s;
}

#audi:checked ~ #container .laptop, #audi:checked ~ #container .movil, #audi:checked ~ #container .pc {
    display: none;
    
}

#audi:checked ~ #container .animate_animated {
    animation-duration: 5s;
}



#laptop:checked ~ #container .audi, #laptop:checked ~ #container .movil, #laptop:checked ~ #container .pc {
    display: none;
    
}

#laptop:checked ~ #container .animate_animated {
    animation-duration: 5s;
}

#movil:checked ~ #container .audi, #movil:checked ~ #container .laptop, #movil:checked ~ #container .pc {
    display: none;

}

#movil:checked ~ #container .animate_animated {
    animation-duration: 5s;
}

#pc:checked ~ #container .audi, #pc:checked ~ #container .laptop, #pc:checked ~ #container .movil {
    display: none;
}

#pc:checked ~ #container .animate_animated {
    animation-duration: 5s;
}



/*****media queri*****/

@media screen and (max-width: 650px) {

    .container_menu .menu_container .botton {
        display: inline-block;
    }

    main .filtro_container .container_picture input {
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .container_menu .menu_container .menu {
        width: 100%;
        height: 100vh;
        left: 0;
        background-color: #c2c2c2;
        z-index: 100;
        top: 120px;
        line-height: 70px;

        transform: translateX(-100%);
        transition: all 1s ease-in-out;
    }

    .container_menu .menu_container ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .container_menu .menu_container ul li {
        width: 100%;
        padding-left: 25px;
        border-bottom: 1px solid #fff;
    }

}